[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
flexcache = "*"
flexparser = "*"
numpy = "*"
pandas = "*"
Pint = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
six = "*"
typing-extensions = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.11"